  {{!-- nav bar section --}}
  <section id="navBar">

    <nav class="navbar navbar-expand-lg navbar-light">
      <a href="/jobcards"><img src="/assets/images/Job Quest logo.jpeg" class="logo" height="100px"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Create Job Card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/jobcards">Your Job Cards</a>
          </li>
        </ul>
        <form id="formId" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search for a job card..." aria-label="Search">
        </form>
        <button class="btn btn-outline-success my-2 my-lg-10" type="submit">Search</button>
        <button class="btn btn-primary" id="logOutBtn">Log Out</button>
      </div>
    </nav>

  </section>
  <h3>
    <span class="lead font-italic" id="funQuote"></span>
  </h3>
<h3 id="author"></h3> 
{{!-- job form section --}}
<section>
  <div class="d-flex align-items-center flex-column ">
    <div class="card w-75 ">
      <div id="jobProspect" class="card-header mb-3">
        Job Prospect
      </div>
      <div class="form-floating mb-3">
        <input type="input" class="form-control" id="companyName">
        <label>Company Name (Required) </label>
      </div>
      <div class="form-floating mb-3">
        <input type="input" class="form-control" id="positionTitle">
        <label>Position Title (Required) </label>
      </div>
      <div class="form-floating mb-3">
        <input type="input" class="form-control" id="jobLink">
        <label>Job Posting URL (Required) </label>
      </div>
      <div class="form-floating mb-3">
        <label for="customRange3" class="form-label text-muted">Salary Range: <output id="rangeVal" class="fontSizing text-muted"></output></label> 
        <br>
        <br>
        <input type="range" class="form-range" min="10000" max="500000" value="50000"step="10000" id="salary" oninput="rangValfunc(this.value)">
      </div>
      <button type="submit" class="btn btn-primary" id="createBtn">Create Job Card</button>
    </div>
  </div>

</section>
<script src="/assets/js/jobs.js"></script>
<script src="/assets/js/motivationalQ.js"></script>
<script src="assets/js/LogOut.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>