
<body>
<section id="cards" class="cards">

  {{#each everyJob as |singleJob|}}
 <div class="card border-success mb-3" style="max-width: 20rem;">
  <div id="card-name" class="card-header">
    <h3>{{singleJob.companyName}}</h3>
  </div>
  <div id="company1" class="card-body">
    <h4 id="jobTitle1" class="card-title">{{singleJob.position}}</h4>
    <h4 id="jobTitle1" class="card-title">{{singleJob.link}}</h4>
    <h4 id="jobTitle1" class="card-title">{{singleJob.initialSalary}}</h4>
  </div>

</div>
{{/each}}
</section>
</body>
