{{!-- job form section --}}
  <section>
    <form>
      <!-- job summary -->
      <h4>Job Prospect</h4>
      <label for="name">Company Name:</label><br>
      <input type="text" name="name" id="companyName"><br>
      <label for="position">Position Title:</label><br>
      <input type="text" name="position" id="positionTitle"><br>
      <label for="initialSalary">Salary range:</label><br>
      <input type="number" name="initialSalary" id="salary"><br>
      <label for="jobDesLink">Job posting URL: </label><br>
      <input type="url" name="jobDesLink" id="jobLink">

      <!-- application process -->
      <h4>Application Status</h4>
      <label for="applied">Applied to job?</label>
      <input type="checkbox" name="jobApplication" id="applicationStatus"><br>
      <label for="feedback">Did you hear back from this company since you applied?</label>
      <input type="checkbox" name="feedback" id="feedbackStatus"><br>

      <!-- recruiter contact info -->
      <h4>Recruiter</h4>
      <label for="recName">Recruiter Name:</label><br>
      <input type="text" name="recName" id="recruiterName"><br>
      <label for="recPhoneNum">Recruiter phone number:</label><br>
      <input type="tel" name="recPhoneNum" id="recruiterPhone"><br>
      <label for="recEmail">Recruiter email:</label><br>
      <input type="email" name="recEmail" id="recruiterEmail"><br>

      <!-- interview process -->
      <h4>Interview Status</h4>
      <label for="screeningInt">Screening Interview:</label><br>
      <input type="datetime-local" name="screeningInt" id="screeningInterview"><br>
      <label for="technicalInt">Technical Interview:</label><br>
      <input type="datetime-local" name="technicalInt" id="technicalInterview"><br>
      <label for="finalInt">Final Interview:</label><br>
      <input type="datetime-local" name="finalInt" id="finalInterview"><br>

      <!-- hiring process -->
      <h4>Job Offer</h4>
      <textarea name="jobOffer" id="jobOffer" cols="40" rows="5">List benefits here:</textarea>

      <button type="submit" class="btn btn-primary" id="submitBtn">Create Job Card</button>
    </form>
  </section>
   <script src="/assets/js/jobs.js"></script>