<div class="row">
  <div class="col-sm-12">
<section class="vh-100 gradient-custom ">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center h-100">
      <div class="col col-lg-6">
        <figure class="text-center bg-white py-5 px-4 shadow-2" style="border-radius: .75rem;">
          <i class="far fa-gem fa-lg mb-4" style="color: #f36f63;"></i>
          <blockquote class="blockquote pb-2">
            <p>
              <i class="fas fa-angle-double-left" style="color: #f36f63;"></i>
              <span class="lead font-italic">Be less curious about people and more curious about ideas.</span>
              <i class="fas fa-angle-double-right" style="color: #f36f63;"></i>
            </p>
          </blockquote>
          <figcaption class="blockquote-footer mb-0 font-italic">
            Marie Skłodowska Curie
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

  </div>
</div>

<script src="assets/JS/motivationalQ.js"></script>